.App {
  text-align: center;
}

.title {
  margin-top: 0px;
  padding-top: 0.67em;
}

.bandeau {
  width: 70%;
  margin: auto;
  padding: 10px;
  background-color: lightskyblue;
  border-radius: 7px;
}






:root {
  --white: #ffffff;
  --lightBG: #dce1df;
  --salmon: #ff6666;
  --teal: #0096a0;
  --tealMid: #0ebac7;
  --tealContrast: #33ffff;
  --tealShade:	#007c85;
  --darkGrey: #4f585e;

  --sizeBoxes: 150px
}



body {
  background: var(--lightBG);
  color: var(--darkGrey);
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: var(--teal);
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: var(--white);
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(var(--teal),2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(var(--teal),2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: var(--white);
  display: inline-block;
  margin: 8px;
  max-width: var(--sizeBoxes);
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

div.card img {
    max-width: var(--sizeBoxes);
  }
  
div.card .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

div.card div.card-title {
    background: var(--white);
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}
div.card div.card-title a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
}
div.card div.card-title a.toggle-info span {
        background: var(--white);
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
div.card div.card-title a.toggle-info  span.left {
        right: 14px;
        transform: rotate(45deg);
      }
div.card div.card-title a.toggle-info span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    
    
      div.card div.card-title h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      }

      div.card div.card-title small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    
  

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}

div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

div.card div.card-flap {
  background: darken(var(--white),15);
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
  


div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}


.no-touch  div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
      background: var(--salmon) !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
  
div.card.show div.card-flap {
  background: var(--white);
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}



